{% extends 'JHodgesLoudSurfBundle::layout.html.twig' %}

{% block body %}
	<h1>{{artist.name}}</h1>
	{#
	{% for img in artist.images %}
		<img src='{{img.url}}'/>
	{% endfor %}
	#}
	<hr/>
	{{dump(artist)}}
{% endblock %}