{% extends 'JHodgesLoudSurfBundle::layout.html.twig' %}

{% block body %}
	<ul>
		{% for song in favSongs %}
			<li>{{song.name}} (<a href="{{url('delete_fav',{id:song.id})}}">delete</a>)</li>
		{% else %}
			<p>No favs yet.</p>
		{% endfor %}
	</ul>
{% endblock %}