{% extends 'JHodgesLoudSurfBundle::layout.html.twig' %}

{% block body %}
	<ul>
		{% for song in favSongs %}
			<li>
				<a href="{{url('song',{id:song.songId})}}">{{song.name}}</a> (<a href="{{url('delete_fav',{id:song.id})}}">delete</a>)</li>
		{% else %}
			<p>No favs yet.</p>
		{% endfor %}
	</ul>
{% endblock %}