{% extends 'JHodgesLoudSurfBundle::layout.html.twig' %}

{% block body %}

	<ul>
		{% for user in users %}
		  <li><a href="{{url('user',{username:user.username})}}">{{user.username}}</a></li>
		{% endfor %}
	</ul>

{% endblock %}	