{% extends 'JHodgesLoudSurfBundle::layout.html.twig' %}

{% block body %}

	<style>
		.user{
			float:left;
			width:200px;
			margin:1px;
			padding:2px;
			background-color:#ddd;
		}
	</style>

	{% for user in users %}
	  <p class="user"><a href="{{url('user',{username:user.username})}}">{{user.username}}</a> <small>(GP={{user.genrePoints}})</small></p>
	{% endfor %}

{% endblock %}	